/* works section style */
.layout{
    min-height: 100vh;
    background-image: url(../../image/bg-all.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.inner{
    height: 88% !important;
    padding-top: 50px;
}

.inner h2{
    color: #FFFFFF !important;
}
.inner>div{
    width: 80% !important;
    margin: 0 auto;
}

/* start first slider */

.shadowEffect {
    background: #fff;
    /* width: 341px !important; */
    text-align: center !important;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 40px;
  }

.shadowEffect .img {
    width: 73px !important;
    height: 73px !important;
    display: inline-block !important;
}

.shadowEffect h5{
    color:  #435aff !important;
}

.overlay{
    border-radius: 5px;
    height: 76px !important;
    width: 76px !important;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 20px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}


.innerDiv:hover .overlay{
    display: block
} 

/* end first slider */
